[2020-07-06 18:03] MarcAnt01 opened #1 "Add a default path to save files"
The user can choose a default path to save files, otherwise the filesavepicker will pop up, letting him choose the location and the filename

[2020-07-07 20:00] MarcAnt01 opened #2 "Automatically save files with date and time"
There seem to be some code from Simple Screen Recorder but it isn't working atm

[2020-07-08 10:49] MarcAnt01 opened #3 "Replace MessageDialog with ContentDialog"

[2020-07-10 18:52] #2 closed

[2020-07-20 07:42] Vas0sky opened #4 "Smallest window size cuts the options text"
![image](https://user-images.githubusercontent.com/13967613/87912182-3359f180-ca6d-11ea-85b8-ad571ca09b4c.png)

Also happens if the window is not focused.

[2020-07-20 08:58] MarcAnt01 opened #5 "Global shortcuts"

[2020-07-20 12:24] #4 closed

[2020-07-28 21:52] FireCubeStudios commented on #5
assign me to this

[2020-07-28 21:53] FireCubeStudios commented on #5
note the global hotkeys in uwp cant work if app is closed (will work when suspended) so we will need to try a background task or another work around

[2020-07-28 21:53] FireCubeStudios commented on #5
a system tray can be usefull too

[2020-07-28 21:55] FireCubeStudios opened #7 "open videos in a preview video player /editor and allow to save from there"

[2020-07-29 07:48] MarcAnt01 commented on #5
Sure assigned just a few guidelines:
- I thought about ```Win+Shift+R", to make it similar to Snip&Sketch that has "Win+Shift+S";
- We can enable fulltrust without checks, since I'm planning to drop Surface Hub support;
- I don't like the idea of a tray icon, I'd rather have a settings for global shortcuts that if enabled will make the Win32 process run in background

[2020-07-29 07:50] MarcAnt01 commented on #7
That's a good idea, are you planning to work on that soon?

[2020-07-29 08:23] MarcAnt01 commented on #7
Anyway, I would prefer to have it in another window, like Unigram (even if it's not the default option)

[2020-07-29 08:41] MarcAnt01 commented on #7
Your thoughts?
![image](https://user-images.githubusercontent.com/43090263/88777734-d9051300-d187-11ea-937e-092afe56f017.png)

[2020-07-30 12:41] binamracode opened #8 "Add Option to hide and unhide the mouse cursor with cursor highlights"
It will be great to see the hide and unhide the mouse cursor button in this app with some cursor highlights and left and right click effect.

[2020-07-30 13:14] m98770 opened #9 "Fluent Screen Recorder not working correctly when minimized"
Using ShareX :
![ezgif com-gif-maker](https://user-images.githubusercontent.com/68843202/88926206-7307b100-d297-11ea-8f4c-87f60ed4c2b1.gif)

Using Fluent Screen Recorder in minimized (using Share your Display option) :

![ezgif com-gif-maker (1)](https://user-images.githubusercontent.com/68843202/88926919-7a7b8a00-d298-11ea-8b03-ec8627058e98.gif)
as you can see, right after  I minimized the app ,

[2020-07-30 13:23] m98770 commented on #5
Please do a platform check first before launching the FullTrustProcess otherwise the app won't open at all in all the non-Desktop Platforms.

[2020-07-30 13:25] MarcAnt01 commented on #5
@m98770 the only non-Desktop platform supported by Fluent Screen Recorder is Surface Hub, but I am planning to drop it

[2020-07-30 13:26] m98770 commented on #9
@MarcAnt01 Maybe you shouldn't use Suspend/Resume code at all. I guess the app suspends when minimized so this happens

[2020-07-30 13:39] m98770 commented on #5
@MarcAnt01 It's your choice. But, since windows 10X is happening with only PWA and UWP first, it will be the only uwp app supporting screen recording , supporting w10X makes sense to me because of the Screen Recording usecases in education sectors/students. FilesUWP trying their best to be available on windows10X ,but its completely upto you.

[2020-07-30 13:58] MarcAnt01 commented on #5
@m98770 We don't have any actual news about Windows 10X, when it's out we can reconsider things.
As for HoloLens, the original app (Simple Screen Recorder) wasn't supporting it, so I have never looked into. Anyway, their market share is very low, which doesn't worth it in my opinion. Anyway if @FireCubeStudios would like to add proper checks they're welcome  even if they'll make it harder to publi

[2020-07-30 18:35] m98770 commented on #9
@MarcAnt01  I strongly believe this issue is happening for suspended/resumed state of the app ![FR8Giyx8e8-output](https://user-images.githubusercontent.com/68843202/88960035-b7f60c80-d2c4-11ea-886d-c827cba65ebf.gif)..

[2020-07-30 20:37] FireCubeStudios commented on #9
use extended execution to bypass that https://docs.microsoft.com/en-us/windows/uwp/launch-resume/run-minimized-with-extended-execution

[2020-07-30 20:38] FireCubeStudios commented on #7
yes
open it in new appwindow in a mediaplayerlement

[2020-08-01 16:26] FireCubeStudios commented on #5
windows 10x still has some time to come. so i dont know mcirosoft can change anything from now to then so i say its best not to worry about windows 10x for thr time being.

[2020-08-10 18:06] MarcAnt01 opened #10 "Audio recording"

[2020-08-10 18:47] FireCubeStudios commented on #1
detail please

[2020-08-10 18:48] FireCubeStudios commented on #8
i can add a option to hide cursor

[2020-08-10 19:09] MarcAnt01 commented on #1
That's the stuff about choosing default path I am already working on, edited the issue to be clearer

[2020-08-10 19:12] MarcAnt01 commented on #8
@FireCubeStudios is that needed after the migration to the new encoder and Desktop Bridge?

[2020-08-10 19:16] FireCubeStudios commented on #8
yes we need to use the new encoder for it

[2020-08-10 19:17] MarcAnt01 commented on #8
OK, then I'll keep it low priority

[2020-08-12 09:45] MarcAnt01 opened #11 "Save/save as option"
- ```Save``` saves to video folder;
- ```Save as``` allows the user to choose the name and the destination folder (use filesavepicker)

[2020-08-12 09:54] MarcAnt01 commented on #1
I am closing it, since https://github.com/MarcAnt01/Fluent-Screen-Recorder/issues/11 makes more sense

[2020-08-12 09:54] #1 closed

[2020-08-13 17:19] Vas0sky opened #12 "Support multiple refresh rate"
The only options available right now are 30 and 60 fps. It could be useful to be able to record at refresh rates lower or higher than those, especially on high refresh rate screens.

[2020-08-16 19:43] MarcAnt01 commented on #11
First progress in https://github.com/MarcAnt01/Fluent-Screen-Recorder/commit/16b5d48f807f373b9647f8ca0547a8ea9479074b

[2020-08-19 12:10] Jaiganeshkumaran opened #13 "This app runs on Mixed Reality devices as well (not HoloLens)"
Mixed reality devices that needs to connect to a PC to work not HoloLens.

[2020-08-19 12:46] MarcAnt01 commented on #13
Great to know, do these devices have particular requirements to run apps?

[2020-08-19 12:51] Jaiganeshkumaran commented on #13
@MarcAnt01 I don't own one but these devices can run all Windows apps including Win32 apps because they are connected to your PC. You can run any app on your PC in there. This is not the case with HoloLens which runs Windows.Holographic while these devices run Windows.Desktop which supports everything but they need to be connected with your PC. To be sure just run the Mixed reality simulator insid

[2020-08-19 12:54] Jaiganeshkumaran commented on #13
Although Microsoft says Mixed reality, they are essentially VR headsets that projects the content from your PC. HoloLens is the real mixed reality device and it is standalone so it doesn't run your app.

[2020-08-20 12:04] #11 closed

[2020-08-20 17:56] MarcAnt01 commented on #8
https://docs.microsoft.com/en-us/uwp/api/windows.graphics.capture.graphicscapturesession.iscursorcaptureenabled?view=winrt-19041#Windows_Graphics_Capture_GraphicsCaptureSession_IsCursorCaptureEnabled

[2020-08-21 08:35] MarcAnt01 opened #14 "Fix bitrate options"
https://github.com/robmikh/SimpleRecorder/pull/17

[2020-08-23 11:09] MarcAnt01 opened #15 "Store release"
Distributing a ```.msixbundle``` file  with the certificate is not a very convenient and conventional solution and licenses are way too expensive, so publishing it in the store is the better option.

[2020-08-25 13:38] #13 closed

[2020-08-26 09:08] Jaiganeshkumaran commented on #10
@MarcAnt01 Could you assign me on this issue?

[2020-08-26 09:09] MarcAnt01 commented on #10
Done👍

[2020-08-30 14:51] MarcAnt01 commented on #5
Packaging thing is done now, I still have to implement shortcuts and proper background process handling

[2020-08-31 13:59] MarcAnt01 commented on #5
I'm giving up on that, since it's too difficult, in particular handling the console app and Desktop Bridge, I am not very familiar with them. I'll leave the branch so that if anyone would like to contribute there's a starting point

[2020-08-31 14:08] #14 closed

[2020-09-03 17:08] MarcAnt01 commented on #15
![image](https://user-images.githubusercontent.com/43090263/92145654-d649ad80-ee18-11ea-9ad5-0115b0a3e9bf.png)

[2020-09-04 09:51] MarcAnt01 opened #16 "Overlay mode"

[2020-09-07 09:36] #9 closed

[2020-09-07 14:01] MarcAnt01 commented on #15
https://www.microsoft.com/en-us/p/fluent-screen-recorder/9mwv79xlfqh7

[2020-09-07 14:01] #15 closed

[2020-09-08 12:32] MarcAnt01 opened #17 "Built-in changelog"
Users should see a changelog the first time the app is launched after an update

[2020-09-08 15:35] FireCubeStudios opened #18 "Cant stop recording when recording minimized apps"
orginial messege: https://discord.com/channels/714581497222398064/714584060172959784/752908242580930690
screen recording randomly doesnt allow user to stop recording when recording apps

[2020-09-08 16:18] MarcAnt01 commented on #18
This should be linked to https://github.com/MarcAnt01/Fluent-Screen-Recorder/issues/9 , but am not 100% sure

[2020-09-08 16:29] harsha21012000 opened #19 "less responsive"
when i click on stop recording it takes more time to stop and isn't responsive. And also Make Ui Better appearance as it would be good to look.

[2020-09-08 16:31] MarcAnt01 commented on #19
Hi, stopping the video is instantaneous here. As for the UI, do you have any specific suggestions?

[2020-09-08 16:52] harsha21012000 commented on #19
though it was instantaneous but still its shows recording, I'm confused with it. Can you add features like delete, trim,Pause like so. here is the attachment i took it from windows voice recorder app.
![image](https://user-images.githubusercontent.com/41331497/92503912-8c4d3700-f21f-11ea-920f-dce159286be0.png)

and also, I have few suggestions regarding UI. Instead of using Acrylic background on t

[2020-09-08 16:58] MarcAnt01 commented on #19
1. The app currently doesn't contain a video player, but I am already planning it but not in the far future.
2. Currently the app is meant not to be used in full screen but as a small window (like the screenshot in the Readme shows), once I add various stuff including video player the app will look good also in full screen.
3. As for the "recording" texture, it's still present in the time between

[2020-09-09 09:42] #17 closed

[2020-09-10 20:06] eduherminio opened #20 "Add button to open saved video directory"
It would be awesome to have a button to open the directory where you saved the last video using file explorer (especially if it has been saved in the default location).

PD: Congrats on the app!

[2020-09-11 08:01] MarcAnt01 commented on #20
Hi Eduardo, thanks for your suggestion. I was also suggested to automatically open the file after saving it. I was thinking about adding a combobox where you can choose if opening automatically the video file or the path where it's been saved. What are your thoughts about that?

[2020-09-11 08:15] eduherminio commented on #20
That sounds good to me as well, would satisfy my requirements and it's probably easier to implement!

[2020-09-11 08:21] MarcAnt01 commented on #20
I could also add both, but I guess just opening the video is faster and convenient for the majority of users 😄

[2020-09-11 08:24] eduherminio commented on #20
Feel free to close this if you're adding that 😃

[2020-09-11 08:29] MarcAnt01 commented on #20
Moreover, if you choose "Save" you'll find files in the videos library, that you can easily access with the sidebar of File Explorer
![image](https://user-images.githubusercontent.com/43090263/92893047-a05c8880-f419-11ea-8c15-bf2a511513c8.png)

[2020-09-11 08:30] #20 closed

[2020-09-11 08:30] MarcAnt01 opened #21 "Option to open saved files automatically after saving them"

[2020-09-11 09:25] MarcAnt01 opened #22 "Crash when cancelling file saving"

[2020-09-11 09:25] #22 closed

[2020-09-11 14:45] MarcAnt01 commented on #19
After the update in the store, it's perfect to me. Let me know if you still have problems

[2020-09-11 14:45] #19 closed

[2020-09-13 08:04] #21 closed

[2020-09-13 09:16] MarcAnt01 opened #24 "App recording with extended execution is totally broken now"
If I minimize fluent screen recorder and then I go back to the app, pressing stop buttons causes a new session to begin. Needs to be fixed as soon as possible.

[2020-09-13 09:19] MarcAnt01 commented on #24
Edit: doesn't seem to be caused by the app window minimized, in fact disabling extended execution it happens the same, but when an app is opened from taskbar over Fluent Screen Recorder

[2020-09-13 09:38] MarcAnt01 commented on #18
OK, after further research this is happens in the following scenario:
- Start app recording with a window that is in background;
- instead of minimizing Fluent Screen Recorder window, open the app you'd like to record via taskbar;
- once you go back to the application you can't stop the recording.

[2020-09-15 08:34] akhilesh-balaji opened #25 "New fluent design icon"
Hi there!
This is, for starters, an amazing app! I have been looking for a good screen recorder with fluent design for a long time, and I finally found the best one! You may have heard that windows is updating their icons with fluent design. The current Fluent Screen Recorder icon looks rather odd in comparison with them, because it doesn't utilize gradients and shadows. I really like the concept,

[2020-09-15 09:15] MarcAnt01 commented on #25
Hello, I've been already planning to change the icon and I'd like to make a new different icon. Where can I pm you?

[2020-09-15 12:01] akhilesh-balaji commented on #25
You can pm me at akhilesh.balaji.bangalore@gmail.com

[2020-09-22 02:01] dpaulino opened #26 "Videos look broken in v1.2.1.0"
Here's a sample video I just recorded: https://streamable.com/jsvx7n

I checked my store and apparently an update was installed today. Yesterday I was using this app and it wasn't broken.

[2020-09-22 02:13] dpaulino commented on #26
This is running on a Surface Laptop 3 btw

[2020-09-22 09:04] MarcAnt01 commented on #26
This looks like an encoding issue, can you tell me the bitrate, quality and framerate settings, so that I can try to reproduce? Currently all videos are encoded properly for me.

[2020-09-22 16:11] dpaulino commented on #26
![image](https://user-images.githubusercontent.com/7649589/93908452-7aee3b00-fcb3-11ea-96c0-0fdd51dd8d2d.png)

I had the default stuff I believe. I didn't make any changes since installing the app

[2020-09-22 16:12] dpaulino commented on #26
Hmm, I made another video just now, and it looks completely fine 🤔

[2020-09-22 16:16] MarcAnt01 commented on #26
Consider that the encoder code in 1.2.1 is identical to the one in 1.2.0 as you can see [here](https://github.com/MarcAnt01/Fluent-Screen-Recorder/blob/master/CaptureEncoder/Encoder.cs). I think it was an issue with GPU or just a problem with encoding in a specific scenario. I'll leave that open in the meanwhile I look into👍

[2020-09-29 15:50] rexd9 opened #27 "Update Release in Microsoft Store Request"
I Suggest You release a new update soon on Store

[2020-09-29 16:04] MarcAnt01 commented on #27
I would like to, but I have some irl issues

[2020-09-30 14:25] MarcAnt01 commented on #27
1.3.0 should be live in the store

[2020-09-30 14:25] #27 closed

[2020-10-01 19:49] #18 closed

[2020-10-07 23:27] Gavin-Williams opened #30 "Resolution should match source size"
Resolution shows as 1920x1080. I have use source size as video resolution = on. The resolution should show 2560x1440, even when grayed out, as that's the resolution.

[2020-10-07 23:28] Gavin-Williams commented on #25
I like the current icon (Before), it looks good on my taskbar.

[2020-10-08 08:04] MarcAnt01 commented on #30
The issue here is that source size can also be different from the available options, for example my Surface Book 2 screen is 3000x2000. So that would require a major rework. Is it really important for you to see the actual value of source size in the combobox? I think that greying it makes it obvious that options there aren't selectable and also remembers the last option you've used.

[2020-10-08 08:06] MarcAnt01 commented on #25
This is going to be the next icon. Do you like it? @Gavin-Williams
![image](https://user-images.githubusercontent.com/43090263/95431650-cfe5ae80-094d-11eb-940e-06aea5bd0dec.png)

[2020-10-08 20:33] Gavin-Williams commented on #25
Yep. Simple, effective.

[2020-10-10 18:01] senolfndk opened #32 "sound problem"
not recording sound

[2020-10-10 18:06] MarcAnt01 commented on #32
Hi Senol, @Jaiganeshkumaran is working on this feature, currently not implemented, please check #10 for reference

[2020-10-10 18:06] #32 closed

[2020-10-11 12:56] #7 closed

[2020-10-11 12:56] MarcAnt01 opened #33 "Support Windows 10 share"

[2020-10-11 13:19] #33 closed

[2020-10-17 08:22] #30 closed

[2020-10-22 07:20] Jaiganeshkumaran opened #34 "Code not compling"
In the static method save, you're trying to modify the text block's text however you can't access it since it's static which means this is empty. Please fix so that I can compile the latest changes.

[2020-10-22 08:04] MarcAnt01 commented on #34
Yep, sorry I haven't pushed the fix, will do that asap, so that you can start working on your pull request

[2020-10-22 08:06] #34 closed

[2020-10-22 08:06] MarcAnt01 commented on #34
@Jaiganeshkumaran you should be able to compile now

[2020-10-26 09:56] #25 closed

[2020-11-09 13:50] AnugrahJames opened #35 "Add ability to take screenshots"
I thought it would be nice to be able to take a screenshot while recording. It would be a handy feature.

[2020-11-09 15:52] MarcAnt01 commented on #35
Hi, this app is thought as a screen recorder, I often use Snip&Sketch app for screenshots. Can you tell me why you would like this feature implemented in Fluent Screen recorder?

[2020-11-09 15:56] binamracode opened #36 "Add option to pause screen recording"
I think there must be a feature to pause screen recording while doing screen recording. It will be great to see pause button to pause recording for some time while doing screen recording

[2020-11-09 16:05] binamracode opened #37 "Application Crashes when I click on About this Application."
![7LkXY4RiE3](https://user-images.githubusercontent.com/61900781/98565321-951cc080-22d5-11eb-8ee0-a9f544c93970.gif)

[2020-11-09 16:07] MarcAnt01 commented on #37
Thanks for reporting that, I fixed it in https://github.com/MarcAnt01/Fluent-Screen-Recorder/commit/5758cd4fc3be83c3a5994e90377ae808125c7e1e

[2020-11-09 16:07] #37 closed

[2020-11-09 17:43] AnugrahJames commented on #35
Yes, I get you. Snip&Sketch is fine for screenshots. But what I meant was to capture a pic from the recording window while recording is in progress. Example: In some phones you can take a photo while recording a video and they are saved separately.

[2020-11-09 17:46] MarcAnt01 commented on #35
Ah, got now what you mean, yeah, in this case it could definitely make sense😁 👍

[2020-11-11 22:33] Damonsoft opened #38 "Fuotuy"
@

[2020-11-13 11:06] ahmedWaelSalem opened #39 "Add support for multiple sound sources"
Add support for different sources,
1- desktop / system sounds
2- mic sounds
and add ability to control them via sliders and ability to mute them and whatever.

[2020-11-13 13:25] Jaiganeshkumaran commented on #39
@ahmedWaelSalem We don't even support sound it. It's being tracked in #25 10

[2020-11-13 13:26] MarcAnt01 commented on #39
Yeah, that can be an idea for once we do

[2020-11-13 13:28] Jaiganeshkumaran commented on #39
Actually, I was planning to add an option to switch between system sound and microphone sound but if you have multiple microphones this should be a bit tricky.

[2020-11-13 13:29] ahmedWaelSalem commented on #39
Yes, I just noticed that you still didn't add support for sounds but I think this will be good feature

[2020-11-13 13:29] MarcAnt01 commented on #39
Yeah, especially considering how uwp handles that, whatever I think having audio and mic recording is the first step, than we'll see.

[2020-11-13 13:36] ahmedWaelSalem opened #40 "Add a warning if you want to continue recording the screen or logout and save the recording"
When you start the application and record anything, and if you close the app by mistake, a message isn't displayed if you want to close the app or want to continue recording the screen. **that's the feature that should be added**
and **this is the bug I see**
After closing the app by mistake the yellow square continues to appear, and if you open the app again, nothing happened and yellow sqaure re

[2020-11-13 13:57] Jaiganeshkumaran commented on #40
@ahmedWaelSalem The recording is done by Windows and not the app itself because of UWP so killing explorer.exe should stop the yellow square but a dialog should be shown by the app to avoid data loss.

[2020-11-13 14:01] ahmedWaelSalem commented on #40
so, you mean that yellow sqaure is just useless if I close the app, right? nice. I thought the app keep recording. Dialog for closing the app would be good.

[2020-11-13 14:03] Jaiganeshkumaran commented on #40
Maybe Windows provides a way to continue recording in the background but the app doesn't detect wether the recording is going on or not.

[2020-11-13 14:08] ahmedWaelSalem commented on #40
I think that needs minimize to taskbar feature, but this will break ARM device support, and Xbox devices. (If this app really supports those devices). I think the best way to do this is to make something like compact mode but with Xbox game bar style. If you know what I mean.
![Screenshot 2020-11-13 160813](https://user-images.githubusercontent.com/40278600/99080782-731f8880-25ca-11eb-9db6-9f25f73

[2020-11-13 14:23] MarcAnt01 commented on #40
I can do something like that with overlay mode, but it's low priority currently:
- Only Arm64 is supported and it has no issues with desktop bridge;
- Xbox is not wupported since the recording APIs are limited to Dektop and Surface Hub

[2020-11-13 14:24] Jaiganeshkumaran commented on #40
Also Xbox game bar style compact mode is limited to Microsoft and partners.

[2020-11-20 21:26] jjouppi opened #41 "Error when recording screen at 60FPS"
![image](https://user-images.githubusercontent.com/66804854/99851390-53451300-2b3c-11eb-9c1e-6dfe1015ade9.png)

[2020-11-20 21:30] MarcAnt01 commented on #41
Hi @jjouppi , thanks for your report can you provide me some further information? Does it happen also with 30fps? What is your Windows 10 version?

[2020-11-20 22:51] jjouppi commented on #41
Weird it's working fine now... Closed out of the application and just opened it back up to try again. Sorry if this is goose chase.

Before, everything worked fine with 30fps but couldn't record a single window or my whole screen at 60fps. I tried it at each of the different bit-rate settings as well.

I'm on Windows version 2004 os build 19041.630

Hope that's helpful!

[2020-11-20 22:55] MarcAnt01 commented on #41
No problem, I think is worthy to look into this issue

[2020-11-28 13:33] Jaiganeshkumaran opened #42 "App crashed when saving files to Box"
This is in the current MS store version

[2020-11-28 13:35] MarcAnt01 commented on #42
@Jaiganeshkumaran what is the version you're running? It should be fixed

[2020-11-28 13:37] Jaiganeshkumaran commented on #42
@MarcAnt01 I'm able to save to other folders but not to the Box folder. The version is 1.1.1.0

[2020-11-28 13:38] MarcAnt01 commented on #42
Do you mean 1.4.1?

[2020-11-28 13:40] Jaiganeshkumaran commented on #42
@MarcAnt01 I don't know since the version from MS store doesn't seem to have an about button. Maybe I'm running an older version but I checked for updates and it doesn't show a newer version of Fluent Screen Recorder.

[2020-11-28 13:46] binamracode commented on #42
Well latest version is of 1.4.3

[2020-11-28 14:18] MarcAnt01 commented on #42
@Jaiganeshkumaran that's a 4 months old version 😓

[2020-11-28 14:22] Jaiganeshkumaran commented on #42
For some reason, store is not updating this app alone, I'm uninstalling it and downloading the latest version

[2020-11-28 14:24] MarcAnt01 commented on #42
Ok, let me know if you still have this issue

[2020-11-28 14:27] Jaiganeshkumaran commented on #42
@MarcAnt01 Latest version doesn't crash but it doesn't seem to save in the Box folder. File Explorer shows 0 bytes

[2020-12-01 04:05] Jaiganeshkumaran commented on #35
@AnugrahJames You can record the video and then extract the frame you want using Photos app

[2020-12-01 07:15] AnugrahJames commented on #35
Sorry for closing the issue. It was by mistake.

[2020-12-01 07:16] AnugrahJames commented on #35
@Jaiganeshkumaran Yes. But being able to that in the app makes it more independent.

[2020-12-05 09:09] MarcAnt01 opened #43 "Fluent icons"

[2020-12-05 14:19] binamracode opened #44 "Add Ability to Select Certain parts of window."
It will be great if we can select the part of window that we want to record before recording screen just like camtasia and many others.

[2020-12-05 17:53] MarcAnt01 commented on #44
Unfortunately, screen capture APIs have no such option, in order to have it, I'd have to use something different for recording

[2020-12-14 14:54] Jaiganeshkumaran opened #45 "Open optionally associated folder after saving a file"

[2020-12-14 15:04] MarcAnt01 commented on #45
This was present in 1.3.x, but I actually removed it, since I think it makes more sense to see a preview before saving the file, why would you prefer that?

[2020-12-14 15:05] Jaiganeshkumaran commented on #45
@MarcAnt01 Maybe instead of opening the file, open the folder in File Explorer instead so I don't need to go there and search

[2020-12-14 15:07] MarcAnt01 commented on #45
An option to open the directory could make sense, I usually share the files within the preview or save them in videos folder so haven't thought about that.

[2020-12-30 10:39] MarcAnt01 commented on #26
@dpaulino Hi, were you able to reproduce the issue again in these months?

[2020-12-30 10:41] #10 closed

[2020-12-30 10:42] MarcAnt01 commented on #43
Done in https://github.com/MarcAnt01/Fluent-Screen-Recorder/commit/3b74c62714b1b68e3565367fff37977674d2d0cb

[2020-12-30 10:42] #43 closed

[2020-12-30 17:46] dpaulino commented on #26
Nope it's been working great. Feel free to close

[2021-01-03 21:16] #26 closed

[2021-01-07 04:25] Jaiganeshkumaran commented on #10
@MarcAnt01 I tried 2.0 and it only has internal audio and not external audio

[2021-01-07 08:31] MarcAnt01 commented on #10
Internal audio will come at a later stage

[2021-01-07 08:32] Jaiganeshkumaran commented on #10
Also, why is there no source code for the component? I want to contribute

[2021-01-07 08:38] Jaiganeshkumaran commented on #39
I have gotten a device selection box working but should it retain choice after restart if the device is connected?

[2021-01-07 15:17] MarcAnt01 commented on #10
The component uses wasapi to record internal audio and I decided to keep the source private for the moment. If you want to work on external audio you won't need it

[2021-01-21 14:32] MarcAnt01 opened #47 "Timer for screen recording"

[2021-01-23 11:50] MarcAnt01 opened #48 "In-app gallery"

[2021-01-25 09:23] FireCubeStudios commented on #48
What's this

[2021-01-28 08:57] Jaiganeshkumaran opened #49 "Custom save folder"
Please add the ability to store recordings in a custom folder. In Settings, you should be able to select a folder (Videos/Fluent-Screen-Recorder should be by default) and the save button will save there next time.

[2021-01-28 09:36] MarcAnt01 commented on #49
If you select "Save as " you can pick the folder you prefer and the next time it will be automatically selected

[2021-01-28 09:36] #49 closed

[2021-01-28 09:44] MarcAnt01 commented on #49
"Save" saves automatically in that folder now from beta versions

[2021-02-14 13:32] #48 closed

[2021-02-23 03:50] Jaiganeshkumaran opened #50 "App crashes at startup"
After installing 1.9.1.0, app crashes always at startup

[2021-02-23 09:06] MarcAnt01 commented on #50
Create a folder called "Fluent Screen Recorder" in videos library, I have already fixed that, but I haven't had time to build a new release

[2021-02-23 09:06] #50 closed

[2021-03-08 10:53] onein528 opened #51 "I want to provide resources translated into Japanese."
Hi

I would like to provide resources translated into Japanese, but the translation sources are all hard-coded. This does not comply with international standards.

Should I write a Japanese translation in this issue? I thought that this should be written in "Pull Request", but I thought that I thought that This app seem to comply with international standards.
, so I chose "Issue".

Sorry

[2021-03-08 11:25] MarcAnt01 commented on #51
Hi @onein528 I am preparing the app to be ready to be translated into other languages. Really happy to see your interest, I prepared all the string to be translated, but I have to setup the VS extension to automatically add the resources to other languages so that you can translate them. I'll let you know in some days when it's ready :)

[2021-03-08 16:03] onein528 commented on #51
I see!

[2021-03-27 19:13] thatssotimur opened #52 "Recording freezes after some seconds"
After recording for around 5 seconds or so the recording just freezes at one point in the screen recording. Hope it gets patched soon. Keep up the great work!

[2021-03-27 19:18] MarcAnt01 commented on #52
Hi, I need some more information regarding your issue. Does it happen when recording a specific app or when recording the recording. What is your app version? Would you be so kind to attach a video showing the issue? Thanks in advance

[2021-03-27 19:33] thatssotimur commented on #52
When recording the entire screen. The app version is 1.4.5. Somehow, it's working now. But for some apps for example Microsoft Store it would fail and say that my current settings (60fps, 18 bitrate) are not supported for my hardware. And when it comes to recording a browser tab (YouTube) this happens..

Hope this helps!

https://user-images.githubusercontent.com/81487449/112732670-9cb6cc00-8f3b-1

[2021-03-28 02:36] binamracode commented on #52
Same problem but my version is 1.9.2 and this happens in both the recording app and display.

[2021-03-28 20:38] MarcAnt01 commented on #52
Actually that happens when you select a resolution higher than the one of your display. Try to set it to "set source size and resolution" and tell me if you can reproduce the issue

[2021-03-29 04:15] binamracode commented on #52
But what about my problem?

[2021-03-31 16:40] eddydu44 opened #53 "No sound recording on ARM64"
Operation system : Windows 10 ARM64 build 21243.rs_prerelese.210320-1757
App Version : 1.4.5

Hello,
This app would be perfect for me but when I start a recording it does not record my system sounds.

[2021-03-31 19:54] MarcAnt01 commented on #53
Hello, internal audio recording hasn't been implemented in the stable version. Anyway I have added it to the insider version (still wip), if you want to try it, just join the Discord server :)

[2021-03-31 19:54] #53 closed

[2021-04-04 10:01] MarcAnt01 commented on #51
Hi @onein528 I haven't forgot about your request, localization is done, but I'd rather to start adding translations from users only once all the app strings are there. In any case, I am working on the first major update, so even if I decide to merge those kind of pull request, you couldn't see the translated version if not in a few months.

[2021-04-04 12:16] onein528 commented on #51
Hi @MarcAnt01
Okey, I dont care. I just thought i could do it..

Thank you.

[2021-04-04 12:36] MarcAnt01 commented on #51
You can still do it, I will mention you once it's ready. It'd be nice to have some languages available even before the release👌

[2021-04-20 09:30] onein528 commented on #51
Really?!

Yeah I think so. well i’ll do my best if you mentioned.👌

[2021-04-20 09:32] onein528 commented on #51
To tell the truth, I can only translate. I only know C language, and I don't know how to handle uwp. I'm sorry very much.😣

[2021-04-20 09:34] MarcAnt01 commented on #51
No problem, the app should already be ready to be translated, but I still have to add some strings. Once it's ready, I'll give you a guide to include Japanese

[2021-04-20 10:02] onein528 commented on #51
thank you.

[2021-04-21 05:51] firinael opened #55 "request: record to .gif (and/or .gifv)"
Pretty self-explanatory request, I just want to be able to choose the output format as .gif or .gifv.

I sadly can't help with suggesting an implementation, though.

Thanks for the app by the way, it's genuinely great for someone who just wants a quick screen capture and doesn't wanna go through the bother that is OBS.

[2021-05-02 16:26] binamracode commented on #51
I can also help with other languages like Hindi, Nepali. if you need

[2021-05-02 17:57] onein528 commented on #51
It's good news!

[2021-05-04 07:54] MarcAnt01 commented on #51
Only the owner of the repo can, done anyway

[2021-05-18 09:57] onein528 commented on #51
Would you like to make the delete button below this photo red?
![Screenshot](https://user-images.githubusercontent.com/62196528/118631863-de147b00-b80a-11eb-8f6d-3c22b6848b5c.png)

I thought it shouldn't be told you in this issue, but it's not a big problem, so I'll told you it here.

[2021-05-18 09:59] MarcAnt01 commented on #51
I'm not really sure, since currently I like to use default brushes/accent color only, but I'll take that into account

[2021-05-18 10:00] MarcAnt01 commented on #51
As for the resources, I'm really sorry to be taking so much, but I got irl issues and haven't been working on the app for a long time

[2021-05-18 10:07] onein528 commented on #51
As Follow:
![Button-mokup](https://user-images.githubusercontent.com/62196528/118633023-fcc74180-b80b-11eb-8bb4-cee75b103f04.png)

Yeah, I think so😊. I only want to use default.

---
That's okay! !! Please instruct at anytime! !!

[2021-05-29 11:49] huutung2004vn opened #56 "oh"
oh

[2021-05-30 08:26] #56 closed

[2021-05-30 08:27] MarcAnt01 commented on #52
@thatssotimur any update on that?

[2021-06-04 20:56] Mellomr99 opened #57 "Your audio does not work but your app is a 10/10"
For some odd reason audio i was using your app and I also gotta say your app is one of if not the best screen recorder apps I have to give it to you for some reason when I look back at the recording something went wrong there is no audio please fix this bug

[2021-06-07 12:52] Huzaifabee opened #58 "Sound"
I cant hear sound in fluent recorder when recording class google meet,I dont know that video has a format issue or it does not record sound.
It would be very helpful that fluent recorder records the sound of ours and pc,

[2021-06-07 12:55] Huzaifabee commented on #58
One more issue is that this recorder has very much whitness ,when I record something it does not loook good with the result of too much brightness .

[2021-06-10 07:03] MarcAnt01 commented on #57
We have clarified with @Mellomr99 on Discord. For someone else who might be reading, the audio is implemented in the beta. If you want to gain access to it, just join Fluent Screen Recorder Discord server and/or UWP Community Discord server and ask for the role

[2021-06-10 07:03] #57 closed

[2021-06-10 07:05] MarcAnt01 commented on #58
@Huzaifabee atm Fluent Screen Recorder doesn't record internal audio, if you really need this feature you might consider trying out the beta version that currently supports internal audio recording.
If you're wishing to do it, just join Fluent Screen Recorder Discord server or UWP Community, specifying that you want to try the beta. I'm sorry for the inconvenience, but I am working on a major upda

[2021-06-10 07:05] MarcAnt01 commented on #58
Could you explain this issue? First time I hear about something similar

[2021-07-10 17:39] #58 closed

[2021-07-10 17:40] MarcAnt01 commented on #58
Closed the issue, feel free to open a new issue explaining the problem you're experiencing

[2021-07-11 11:05] #52 closed

[2021-08-01 22:02] erthhu7ghjk opened #62 "ووو"
ووو

[2021-08-05 02:40] albertchii opened #63 "ALBERT_CHII"

[2021-08-05 02:43] albertchii opened #64 "CREEN"
instalador de Screen Recorder

[2021-08-05 02:43] #64 closed

[2021-08-05 15:22] MarcAnt01 commented on #63
@albertchii what’s the purpose of this ticket?

[2021-08-16 08:32] MarcAnt01 commented on #45
Even if I was already working on the feature ui-wise I realized that uwp sandbox is a pain in the ass and doesn't allow me to access to the folder where I save the file with the FileSavePicker.
I'm sorry but this isn't going to be considered till the app stays uwp

[2021-08-16 08:32] #45 closed

[2021-08-16 09:04] Jaiganeshkumaran commented on #45
@MarcAnt01 You can access the Path property of the picked file, remove the file name at the end and then call [Launcher.LaunchFolderPathAsync](https://docs.microsoft.com/en-us/uwp/api/windows.system.launcher.launchfolderpathasync?view=winrt-20348) with [ItemsToSelect](https://docs.microsoft.com/en-us/uwp/api/windows.system.folderlauncheroptions.itemstoselect?view=winrt-20348#Windows_System_FolderL

[2021-08-16 09:06] MarcAnt01 commented on #45
That's what I tried, but path keeps staying null because of the sandbox

[2021-08-16 09:09] MarcAnt01 commented on #45
`
 private static async Task<StorageFile> PickVideoAsync()
        {
            try
            {
                var picker = new FileSavePicker();
                var time = DateTime.Now.ToString("yyyy-MM-dd-HHmmss");
                picker.SuggestedStartLocation = PickerLocationId.VideosLibrary;
                picker.SuggestedFileName = $"recordedVideo{time}";
                picker.DefaultFi

[2021-08-16 09:11] MarcAnt01 commented on #45
This is my snippet if you wanna take a look, but I doubt there's something wrong
![image](https://user-images.githubusercontent.com/43090263/129539843-bc580cd7-caec-45c7-8a9c-b23300ee1007.png)

[2021-08-18 09:26] sq4cvh opened #65 "audio"
App not record audio from web pages

[2021-08-18 11:01] MarcAnt01 commented on #65
Hi, audio recording isn't implemented in the stable version, it's currently in the beta one, but it'll come in some weeks to the stable version 😄

[2021-08-21 17:12] AqilCont commented on #65
Please make it soon! I really want actual audio with the recording :<

[2021-08-21 18:02] MarcAnt01 commented on #65
@AqilCont you can join the Discord server and get in touch with me, I could give you early access

[2021-08-31 17:02] MarcAnt01 commented on #51
Hello, I'm really sorry but I had some issues on the localization and I cannot release translations in 2.0 as I hoped to, I'll let you know one I manage to fix this issue :(
This will be done for sure with 2.1 but I have no ETA to give you unfortunately

[2021-08-31 21:28] onein528 commented on #51
Anytime is fine!

[2021-09-02 06:20] shawnwildermuth commented on #36
Are you open to a PR for this? I could really use it.

[2021-09-02 08:14] MarcAnt01 commented on #65
@sq4cvh the version with audio recording is now available to everyone. Closing this.

[2021-09-02 08:14] #65 closed

[2021-09-02 14:32] abhidan2 opened #67 "Crash when audio recording is enabled and any Spatial sound format in windows is also enabled"
Windows Sonic for headphones, Dolby Atmos for Headphones or any other Spatial sound format combined with audio recording feature causes the app to crash immediately after start recording. When Spatial sound format is set to Off, app works fine.

[2021-09-02 14:49] MarcAnt01 commented on #39
Hello, I have released Fluent Screen Record 2.0 with support for external recording trough mic. From system settings you should be easily able to pick the device you prefer

[2021-09-02 14:49] #39 closed

[2021-09-02 19:44] AqilCont commented on #5
Will this ever be completed? It's a bit tedious to find the app just to record something small really quick :>

[2021-09-02 19:59] MarcAnt01 commented on #5
Not soon honestly, I haven't found any way to connect the uwp and the Win32 process sadly, also using Desktop Bridge will cause store submissions that usually last from half an hour to one day to be manually certified taking up to three days. My suggestion to quickly launch the app is pin it on start, sorry

[2021-09-02 23:00] AqilCont commented on #5
Ah, that's understandable. Thanks for replying! I'll just go with what I've been doing so far then. There's a way to bind keyboard shortcuts to shortcut files on Win10(for the others that might want this).

![image](https://user-images.githubusercontent.com/32044067/131926486-e8a76185-0695-4b92-addb-0b914e8cb740.png)

I just wanted this issue to go through so that it can provide functionalities li

[2021-09-03 04:13] shawnwildermuth commented on #36
Forked. I'll let you know if I figure it out.

[2021-09-03 09:32] villisek commented on #51
Hello,

I would be happy to translate in French when the localization system is ready ;)

Don't worry ;) IRL is rather a priority than this ^_^

[2021-09-07 13:41] Chaniru22 opened #69 "Recorder crashes when closed the recording window"
When I start a record a window it records fine but if I close the window before stop the recording the app freezes and closes

[2021-09-08 14:54] binamralamsal opened #70 "Settings are saved only after closing the app and not while using it"
Currently if you change settings of app then it gets saved only after closing the app but it does not get changed while using.

Reproduction process:
1. Open app and change settings.
2. Click any of your recently recorded video.
3. Go back from that screen.

Now settings that you changed previously won't appear there. This issue might appear with any other process too.

[2021-09-08 18:11] MarcAnt01 commented on #51
Hello, I'm finally done. Here you go 😄
https://github.com/MarcAnt01/Fluent-Screen-Recorder/blob/master/translations.md

[2021-09-08 18:11] #51 closed

[2021-09-09 02:02] onein528 opened #73 "Update to WinUI 2.6"
![image](https://user-images.githubusercontent.com/62196528/132614775-eb2653a9-09eb-4505-a67b-0fbe34f3dc38.png)

These button is not WinUI 2.6

[2021-09-09 07:54] #73 closed

[2021-09-09 16:17] clicky6 opened #77 "Why aren't you giving .msixbundle in releases section of GitHub for new releases?"
Why aren't you giving .msixbundle version of app in releases section of GitHub for new releases?

[2021-09-09 16:20] MarcAnt01 commented on #77
I stopped uploading the files, because the app is available in the Microsoft Store. Is there a specific reason why you need .msixbundle?

[2021-09-09 16:24] clicky6 commented on #77
I have blocked Microsoft Servers from firewall app so I need the .msixbundle so that install can be performed without using Microsoft Store.

[2021-09-09 16:26] MarcAnt01 commented on #77
There's [this site](https://store.rg-adguard.net/), I don't know if you already know about it, that allows you to get the .msixbundle of the latest store version just pasting the store url of the app (just google Fluent Screen Recorder Microsoft store and you'll get it). For the future I could post major updates in the releases section if you prefer anyway

[2021-09-09 16:30] clicky6 commented on #77
Yes It would be much handy if you provide .msixbundle file in releases section instead of downloading from some website or so because if we download the app from the website authenticity of the app cannot be guaranteed.

[2021-09-09 16:31] clicky6 commented on #77
Just provide .msixbundle file for stable releases that's it.
Thank You

[2021-09-09 16:35] MarcAnt01 commented on #77
@clicky6 I will from now, but take into account that .msixbundle files are really safe. You cannot install normally a non-signed packaged. The site I have provided just downloads the app from Microsoft store servers and allows you to install it manually. If you open the .msixbundle file, the pop-up in the screenshot would appear, showing you that it's a genuine app
![image](https://user-images.git

[2021-09-09 16:38] clicky6 commented on #77
Ok sir But the website is somewhat complex also so...

[2021-09-09 16:43] clicky6 commented on #77
I just installed and ran 1.2.0 because that was the latest release with .msixbundle file given, But the app is not opening? Why so?

[2021-09-09 17:13] MarcAnt01 commented on #77
Probably, I bug that was fixed along the way. I'll publish a 2.0 msixbundle file soon

[2021-09-09 17:23] clicky6 commented on #77
**Thank You very much sir.**

[2021-09-09 17:23] #77 closed

[2021-09-09 17:48] MarcAnt01 commented on #77
Done

[2021-09-10 10:09] clicky6 commented on #77
Great.

[2021-09-10 12:29] MarcAnt01 commented on #67
This is really complex to record, from the next release when you record with it enabled, the app won't capture internal audio even if the toggle is on. In the future, if I find a way, I may handle it in the correct way.

[2021-09-10 12:29] #67 closed

[2021-09-10 12:30] MarcAnt01 commented on #69
It looks like the problem is internal audio recording not stopping, when closing the window. For the moment I found a patch, so that if you close the window the app won't crash, but simply the video recording won't include audio

[2021-09-10 12:30] #69 closed

[2021-09-10 14:08] Chaniru22 opened #80 "Sound icon is too small and not centered in the player"
![image](https://user-images.githubusercontent.com/82730163/132866621-d4d25ff4-4e45-47ab-bef8-8da909663981.png)

[2021-09-13 10:30] MarcAnt01 commented on #5
I am closing this one, since I don't plan any longer to implement this feature in a UWP app. If in the future we'll be moving to WinUI 3, it might be implemented.

[2021-09-13 10:30] #5 closed

[2021-09-18 11:54] babakmdi opened #81 "audio is not work"
i get Access is denied here

![image](https://user-images.githubusercontent.com/65450661/133887893-b5037085-e28a-45de-bdd5-4c9033d4fe12.png)

[2021-09-18 14:38] MarcAnt01 commented on #81
Hello, the internal audio recording feature is not open source and cannot be used out of Fluent Screen Recorder package

[2021-09-18 14:38] #81 closed

[2021-09-18 15:31] babakmdi commented on #81
I need it . how in the world can i have it ????

[2021-09-19 16:29] MarcAnt01 commented on #81
As the license states, the code in the repo is provided "as is", the internal audio recording code is private and not for my choice. Try to reach out to me on Discord and explain the reasons why you need it and I'll connect you to the author of the library.

[2021-09-20 10:51] Chaniru22 opened #82 "Hidden things comes when resize , maximize , minimize the window while recording"
https://drive.google.com/file/d/1YRx99YBmKjrqtFalF7rdz6onr5xgve-y/view?usp=sharing

[2021-09-20 10:52] Chaniru22 opened #83 "Gallery view doesn't change (Show/Hide) until resize the window"
https://drive.google.com/file/d/1YRx99YBmKjrqtFalF7rdz6onr5xgve-y/view?usp=sharing

[2021-09-20 19:19] MarcAnt01 commented on #83
Hey @Chaniru22 I am planning to remove the option since I think the app with a big window doesn't look good without it. What are your thoughts about this?

[2021-09-21 09:33] Chaniru22 commented on #83
@MarcAnt01 good idea . I like that .can't you disable the controls until record finished ?

[2021-09-21 09:35] Chaniru22 commented on #83
@MarcAnt01 yeah .I like it .

[2021-09-22 02:14] Gaoyifei1011 opened #84 "New issues encountered in version 2.0.1"
1.标题栏，左侧录屏按钮和中间空白处透明度不一致，希望可以调整成一致的透明度。此外，应用放大后录屏按钮会在最左边，中间会留下较大的空白，希望可以修复一下这个界面设计bug
The transparency of the title bar, the left screen recording button and the middle space is inconsistent. Please adjust it to the same transparency. In addition, after the application is enlarged, the screen recording button will be at the far left, leaving a large blank in the middle. I hope to fix this interfac

[2021-09-22 09:02] MarcAnt01 commented on #84
Hi @Gaoyifei1011 thanks for creating this ticket.
1. The idea is to have two different acrylic surfaces to differentiate them. I actually don't understand why you see nothing in between, the ideas would be to show recorded videos there. I attach a screenshot
![image](https://user-images.githubusercontent.com/43090263/134314388-deae98e2-1128-4373-bb76-fe79625a9715.png)

2. Thanks, I'll try to fix t

[2021-09-23 04:25] Gaoyifei1011 commented on #84
好吧。关于问题一，我可能错误的理解了您设计的意图。但是就我个人而言，我希望您能够微调一下。如果本地已经有录好的视频，希望可以显示一下本地录好的视频文件。如果没有的话，希望增加一个“您没有录取的视频”这类的提示语言。
All right. As for question 1, I may have misunderstood your design intention. But personally, I'd like you to tweak it. If a local video has been recorded, you want to display the local video file. If not, I hope to add a prompt language like "videos you did not record".

[2021-09-25 06:43] MarcAnt01 commented on #84
@Gaoyifei1011 in theory the section in the middle shouldn't be visible at all if no videos have been saved, not sure why this isn't happening

[2021-09-26 15:46] Gaoyifei1011 commented on #84
我个人估计应该是这个程序设计的时候，没有考虑到没有视频的情况下中间部分的显示问题，希望未来能够优化一下代码，中间页面做一个判断。在没有视频的情况下中间页面是不显示的。

[2021-09-29 09:37] dpierangeli opened #85 "Autostop recording when memory is low"
**Case** :

i started a recording of a stream that i could not see because reasons. After 3 hours i returned home and FSR showed an error (maybe 'no more memory...' ).

**How to reproduce** :

start a recording and go to binge a show on netflix or disney+ ;)
or
start a recording when the available system memory is low

**proposal** :

in this case FluentScreenRecorder could auto-stop the recording

[2021-10-08 16:37] senolfndk opened #86 "Crash at start-up"
crashing

[2021-10-08 17:17] senolfndk commented on #86
![Ekran görüntüsü 2021-10-08 201653](https://user-images.githubusercontent.com/52818836/136597113-b4f2491d-b223-4f7f-93d6-ebf069aca8e0.png)

[2021-10-08 17:23] #80 closed

[2021-10-21 14:21] hez2010 opened #88 "Add support for pushing to streaming server in real-time"
Hello, thanks for your excellent work.

Can you add support for pushing recording content to streaming server (generally a URL) in real-time? With this feature I can fully replace OBS Studio with Fluent Screen Recorder.

[2021-10-25 12:48] MarcAnt01 opened #89 "Implement in-app titlebar and esc to go back"
Currently the titlebar has a hacky back button that is a bit too small for touch targets and isn't consistent with apps like snipping tool using an in-app titlebar.
It's also necessary to implement esc to go back functionality

[2021-10-25 12:50] MarcAnt01 opened #90 "Gallery view isn't displaying the right items"
Sometimes the gallery isn't showing the newly recorded video or videos that have just been deleted (potentially leading to crashes)

[2021-10-30 21:25] steam3d opened #92 "Immediately crash when start recording"
The app immediately crash when start recording on windows 11.
I did not found where log files storage and i cannot provide more information.

[2021-10-30 21:35] MarcAnt01 commented on #92
Hello, does disabling audio fix the crash for you?

[2021-10-30 22:11] steam3d commented on #92
Yes. When audio is disabled the app works as expected

[2021-11-15 08:53] MarcAnt01 commented on #92
From the next version I'll be adding a check and if the internal audio fails to be recorded, the app won't crash, but will record videos without audio

[2021-11-17 11:02] #90 closed

[2021-11-23 11:12] MarcAnt01 commented on #92
After some investigation, this seem to be due to the library of internal audio recording on which I haven't worked directly and the patch I made doesn't seem to be enough

[2021-11-23 11:17] MarcAnt01 opened #93 "Cached settings aren't displayed and updated after a recording"
After a recording without closing and reopening the app the displayed b settings are the right ones

[2021-11-27 04:43] Ahmetozefe opened #94 "Crash when recording with audio"
Windows 11 Pro 21H2
OS build	22000.348
App info: Latest version from Microsoft Store as of 27 November 2021

Issue: The app will always crash when starting a recording with Audio Recording option enabled. It will not crash when it's disabled.

[2021-11-27 04:51] Ahmetozefe opened #95 "Changing most of the settings will crash the application"
Windows 11 Pro 21H2
OS build	22000.348
App info: Latest version from Microsoft Store as of 27 November 2021

Issues:
Use source size as video resolution [disabled]
Audio Recording [enabled]
Video Preview [disabled]
Gallery View [disabled]

will all crash the app. Also the app doesn't remember the settings. After a recording is done, all settings will go back to defaults.

[2021-11-27 09:08] MarcAnt01 commented on #95
Hello, thanks for reporting:
- internal audio recording will crash the app on some devices due to the library I use for recording internal audio, this is known, but it's also hard to fix. I have already reported this in https://github.com/MarcAnt01/Fluent-Screen-Recorder/issues/92
- Settings not being saved issue is known, too https://github.com/MarcAnt01/Fluent-Screen-Recorder/issues/93 . At the

[2021-11-27 09:08] #95 closed

[2021-11-30 21:10] LuanVSO opened #96 "better file sizes"
I like to use it to record bug repros to post on GitHub, but very frequently the video size is bigger than GitHub's maximum video size (100mb) which i them have to run through some other app (like VLC) to reencode the video to get a sensible file size.

[2021-11-30 22:03] MarcAnt01 commented on #96
Hello, I plan to add HEVC support for the future, but it requires some codecs that aren't available on all devices, so it'll be an option and even with it the improvements aren't that huge.
Anyway, the big file size is due to a high resolution/bitrate. If you want smaller files, my suggestion is to lower the resolution (disabling the option of use source size that automatically picks the highest o

[2021-12-02 13:17] Jimmy-Blue opened #97 "App will crash immediately if I choose record"
![image](https://user-images.githubusercontent.com/60958064/144429262-07696762-66cb-4ec4-84fe-0a4860d09f0b.png)
I can start the app in the normal way but after hitting Record, it just crash. Have reinstalled many times but so far, failed.

[2021-12-05 09:33] MarcAnt01 commented on #97
Hello, I have probably fixed it, but I need some testers to ensure it's working properly. In case you are interested, I published a test package here:
https://discord.com/channels/754661717052620800/754661717052620804/916819108941660170

[2021-12-05 09:33] MarcAnt01 commented on #94
Hello, I have probably fixed it, but I need some testers to ensure it's working properly. In case you are interested, I published a test package here:
https://discord.com/channels/754661717052620800/754661717052620804/916819108941660170

[2021-12-05 09:33] MarcAnt01 commented on #86
Hello, I have probably fixed it, but I need some testers to ensure it's working properly. In case you are interested, I published a test package here:
https://discord.com/channels/754661717052620800/754661717052620804/916819108941660170

[2021-12-05 09:35] #96 closed

[2021-12-05 09:37] MarcAnt01 opened #98 "HEVC optional format for recording"
This should result in a better quality in less storage. Additional checks for the required codecs are required

[2021-12-05 09:37] MarcAnt01 commented on #92
Hello, I have probably fixed it, but I need some testers to ensure it's working properly. In case you are interested, I published a test package here:
https://discord.com/channels/754661717052620800/754661717052620804/916819108941660170

[2021-12-05 09:41] MarcAnt01 opened #99 "FFFmpeg editor"
1. This should allow people to cut the video in height/width (useful since it's not possible with Capture APIs to select a certain part of a window)
2. This should allow people to cut a part of the video (useful for screen recording)
3. This should allow conversion to gif

[2021-12-05 09:44] MarcAnt01 commented on #55
Hello, I don't plan to record in gif because it's a really bad format. I anyway understand that people might need it, so I'll implement the possibility to convert the video to gif once I include ffmpeg.
For reference: https://github.com/MarcAnt01/Fluent-Screen-Recorder/issues/99

[2021-12-05 09:44] #55 closed

[2021-12-05 12:46] Jimmy-Blue commented on #97
@MarcAnt01 Can you send the direct link in here? Apparently, I don't have Discord, so I can't access the link you sent. Thank you.

[2021-12-06 13:12] MarcAnt01 commented on #97
@Jimmy-Blue here's the dropbox folder with the package + instructions to install
https://www.dropbox.com/sh/ncybf0dfqpkycq0/AAA-icll2_smoeekraWQYMG1a?dl=0

[2021-12-08 06:04] Jimmy-Blue commented on #97
@MarcAnt01 I tested the beta package and there is a problem with audio recording. It is about the delay. Sometimes, the audio records faster than the actual rate of the video.

[2021-12-15 10:13] MarcAnt01 commented on #94
This should be fixed in 2.1, let me know if you still experience crashes

[2021-12-15 10:13] #94 closed

[2021-12-15 10:14] MarcAnt01 commented on #86
This should be fixed in 2.1, let me know if you still experience crashes

[2021-12-15 10:14] #86 closed

[2021-12-15 10:15] MarcAnt01 commented on #97
This should be fixed in 2.1, let me know if you still experience crashes

[2021-12-15 10:15] #97 closed

[2021-12-15 11:18] MarcAnt01 commented on #92
This should be fixed in 2.1, let me know if you still experience crashes

[2021-12-15 11:18] #92 closed

[2021-12-15 18:25] steam3d commented on #92
The app does not crush now.  Thx.

[2021-12-15 18:37] steam3d opened #100 "[Contributions] Complete redesign of the application"
I can create a new design for the application. I can even try to implement it. (But i'm not particularly good at programming)
will it be included in the application?

[2021-12-15 18:45] itsWindows11 commented on #100
There's already one in #87, but feel free to create your own concept.

[2021-12-15 20:14] MarcAnt01 commented on #100
Yeah, as @itsWindows11 said, that's already being worked on, feel free to read the thread and provide suggestions :)

[2021-12-15 20:14] #100 closed

[2021-12-16 10:56] Jimmy-Blue commented on #97
@MarcAnt01 I updated the official version to v2.1.0 and seems like the problem with Audio Recording still presents in this, even though the test package that you sent earlier did work fine and good as expected..

[2021-12-19 15:17] #93 closed

[2021-12-22 01:33] xbec65 opened #101 "Crash at startup"
Hello,

When i try to start the recording, it crashes immediately.

Os : Windows 10, 20H1
Download from : Microsoft Store
App version : 2.1.0
App settings : Default
Laptop model : Msi Ge75

[2021-12-22 09:14] MarcAnt01 commented on #101
Hello, @xbec65 why has this been closed? An experimental fix is gonna be delivered to 2.1.1 once I finish the release

[2021-12-28 02:36] xbec65 commented on #101
Sorry, I fixed the problem by decreasing the framerate and disable the audio input (30 fps works great). But, Now 2.1.1 have issue , when I try to click the record button, it crashes. I don't want to leave negative feedback or one star on Microsoft store. I believe in future, this bug will be resolved. Thnx.

[2021-12-28 13:55] MarcAnt01 commented on #101
I think the issue is the audio recording, anyway, isn't disabling it enough in 2.1.1 in order to avoid crashes?

[2021-12-29 01:02] Gaoyifei1011 opened #104 "Problems encountered after translation into Simplified Chinese"
首先，我这几天在进行翻译的时候看见了一个选项”Galley view“，我尝试调节了一下这个按钮，但是没有发生什么变化，所以我不太了解这个功能，仅仅是简单翻译为”相册视图“。希望开发者您能帮我解释一下这个按钮的具体功能是什么，方便我实现精准翻译。
First of all, I saw an option Galley View when I was translating these days, I tried to adjust this button, but nothing happened, so I don't know much about this function, just simply translate to album view I hope you can help me explain the specific function of this button,

[2021-12-29 03:22] xbec65 commented on #101
Unfortunately no. Only if  I decrease the framerate and disable the audio input , then it works.

[2021-12-29 10:48] MarcAnt01 commented on #104
Thanks for the detailed feedback
- gallery view button needs to be fixed or be removed, I'll take care of this;
- I'll take care of localizing file info and potentially also error messages;
- To understand why the recording is failing I need more information (in the specific case you've shown, the recording was shorter than one sec, so the encoder wasn't able to capture at least the given amount o

[2021-12-29 10:52] MarcAnt01 commented on #101
Is also the framerate decrease necessary? Was the audio recording working in the previous version?

[2021-12-29 10:58] MarcAnt01 commented on #104
Also forgot to say, where is the pull request with your Chinese translation? Couldn't find it

[2021-12-29 11:11] Gaoyifei1011 commented on #104
Thank you for your reply. I found some conflicts after my Pull requests, which I need to deal with in the next two hours. Since I'm personally not very good at using this Pull request, I temporarily closed it and submitted another one when it was ready. Sorry
感谢您的回复。在我Pull requests之后我发现了一些冲突，我需要在接下来的两个小时之内处理一下，由于我个人不太会使用这个Pull requests，所以我临时关闭了它，在弄好之后重新提交一个，很抱歉

[2021-12-29 14:19] #82 closed

[2021-12-30 02:38] xbec65 commented on #101
Yes necessary, without it the app crashes. Nope.

[2021-12-30 10:01] MarcAnt01 commented on #101
Thanks for letting me know, could you tell me the last version where you had everything working? Would be helpful in order to fix this issue

[2021-12-31 03:59] xbec65 commented on #101
None, because Firstly I installed  the first 2.1.0 then update to 2.1.1. Same problem occurs again in 2.1.2.

[2021-12-31 04:00] xbec65 commented on #101
None, because I installed  the first 2.1.0 then update to 2.1.1. Same problem occurs again in 2.1.2.

[2021-12-31 06:26] kolappannathan opened #106 "Microphone recording option is disabled"
![image](https://user-images.githubusercontent.com/8157105/147807220-271242b1-8fa5-495c-b6f4-ed798ae7b65a.png)

I have given Microphone permission to the app. My system has a microphone and Windows Voice recorder detects it.

The app version is 2.1.1 and Windows version is Windows 11 Build 22000.376

[2021-12-31 14:12] MarcAnt01 commented on #106
Hello @kolappannathan if you disable internal audio recording, you should be able to select it. Sorry if this is a bit confusing, but the ux will be certainly improved in the next versions

[2021-12-31 14:19] kolappannathan commented on #106
That was the case. Thanks.

[2021-12-31 14:19] #106 closed

[2022-01-08 00:02] Talisman39ar commented on #8
Is there a way for the app to recognize the Powertoys cursor highlight (double tap on CTRL by default)? Would be useful for pointing out things on screen. I just tried it and the Fluent Recorder doesn't record it happening. Thanks!

[2022-01-08 06:27] MarcAnt01 commented on #8
Hello, I personally don’t use Powertoys, but I will look into this as well

[2022-01-15 11:39] trvnkwil opened #108 "no sound"
audio recording is turned on but it doesn't record audio.

i'm trying to record the screen and the output of my DAW (REAPER 6.45) using ASIO4All 2.15 as my sound system.
i hope u can add support for ASIO4All.

[2022-01-23 10:18] bobarakatx opened #109 "App immediately crashes on "Start Recoeding". ver 2.1.2"
The app was just installed. I didn't change any settings. Made sure Video & Microphone permissions were turned on for the app.
Booth audio & microphone recordings are turned off. Default settings. Windows 11 build 22000.438

[2022-01-23 11:22] MarcAnt01 commented on #108
Hello, thanks for your report, did you have audio working by chance in previous versions? Now I block the audio recording on some devices where it would just crash the app. Also could you tell me your device and app version, please?

[2022-01-23 11:24] MarcAnt01 commented on #109
Hello, thanks for your report, could you tell me your device name?

[2022-02-10 00:54] sksb2180 opened #110 "App crashing with 60fps or audio on"
The app is crashing either with 60 fps and audio recording on or both. It works fine with 30 fps with any bitrate and microphone recording.

win ver: 22000.493

[2022-02-10 01:03] sksb2180 commented on #110
It crashes even with 30 fps and audio recording on, I'm unable to record my classes :(

[2022-02-10 08:59] MarcAnt01 commented on #110
Thanks for your report, I am so sorry about your issue, mic recording is causing so many crashes and in spite of all my attempts, none of the fixes seems to be working 100%. If you want I can provide you with a test version that seems to be working, but I highly discourage you to use it for long recordings, since the app hasn't been optimized for that usage

[2022-02-14 20:05] steam3d opened #111 "Media session"
Media session control remains after the application is closed
<img width="289" alt="image" src="https://user-images.githubusercontent.com/30986874/153937893-62183c24-73e4-46e1-b8a5-59880f0adf2d.png">

[2022-03-03 04:15] DooneZhang opened #112 "ScreenSenderComponent.dll is not allowed."
When loading the library file in another project, the library file ScreenSenderComponent.dll cannot be accessed and an error is displayed:
Exception thrown at 0x7752E7B2 (in xxxxxx.exe): Microsoft C++ Exception: Platform::AccessDeniedException ^ at memory location 0x0907DA44. HRESULT: 0x80070005 Access denied.
WinRT message: Package is not allowed.

What is the reason for this? I would be grateful

[2022-03-03 09:09] MarcAnt01 commented on #112
Hello, the library is made not to be accessible by other applications. The app is open source, but the library is locked to be used only in Fluent Screen Recorder

[2022-03-03 09:30] DooneZhang commented on #112
Well, so pity, but thank you very much

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Filippo ***@***.***&gt;;
发送时间: 2022年3月3日(星期四) 下午5:10
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [MarcAnt01/Fluent-Screen-Recorder] ScreenSenderComponent.dll is not allowed. (Issue #112)

您好，该库是使其他应用程序不能访问。这个应用是开源的，但是库被锁定了，只能在 Fluent Screen Recorder 中使用

—
直接回复此邮件，在 GitHub 上查看

[2022-03-03 09:36] #112 closed

[2022-03-23 10:11] binamralamsal opened #114 "Add "Open file location" menu in context menu of recorded videos"
Something like this:
https://user-images.githubusercontent.com/61900781/159674346-3c4187ff-88ba-498d-a2b6-e3f4f190ef84.mp4

This is what I did: (Although I am not sure if it will work in most cases as I am not that familiar with UWP/C#)
[code]

[2022-03-23 10:37] MarcAnt01 commented on #114
@Jaiganeshkumaran suggested this and I tried this, but the sandbox prevents me to launch the uri even if i already got access to it

[2022-04-11 13:35] heysagnik commented on #109
Its happening on every Windows 11 Devices

[2022-04-11 13:50] MarcAnt01 commented on #109
This isn't true, doesn't crash on any of my devices and I know a lot of people that are using it properly. If I'm asking for the device name, it's in order to gather information from Appcenter crash logs

[2022-04-11 14:44] heysagnik commented on #109
then don't know , mine is custom pc running windows 11 build 22593

[2022-04-11 14:45] heysagnik commented on #109
tell me how does I collect the logs , so that I can share with you

[2022-04-11 17:07] MarcAnt01 commented on #109
In this case, it’s often reported as the motherboard name. No need to send the logs, since the application already collects them. Would be also helpful to understand if if it happens to you with internal/external audio off

[2022-04-13 20:57] MarcAnt01 commented on #89
Hey @Jaiganeshkumaran , I totally lost this message, now there's a proper in-app titlebar button (from 3.0 branch), while esc to go back still has to be implemented.
If you think that having a top level page is better, feel free to send a pr, anyway consider that the back button is needed only in some pages, while in others it shouldn't be there

[2022-05-16 17:17] AstroX809 commented on #109
This same issue is occurring for me on 2.1.3
I have a Dell Inspiron 3593 with Windows 11 Build 22621

[2022-05-20 15:23] jonshipman opened #115 "Slow saviging with internal audio turned on"
Also a high number of page faults being seen on save. Just wondering if there's a correlation. Recorded 40 minutes of video and the "Saving" took nearly 20 minutes.

<img width="613" alt="image" src="https://user-images.githubusercontent.com/12699954/169560437-9d880804-bfd7-44e7-9f28-15b0a6fe460a.png">

[2022-05-21 14:12] MarcAnt01 commented on #115
Hello, sorry about this issue, I usually test the app for short recordings, but I would need more information to proceed. Is audio recording enabled? I think it is what causes the issues, I'm planning to rewrite the internal recording to be real time

[2022-05-23 13:12] jonshipman commented on #115
Yes, audio recording is enabled.

[2022-05-27 16:51] maisondasilva opened #116 "Brazilian Portuguese language"
I use the app and I see that it has pt-pt portuguese de portugal which is a little different from pt-br can I translate and send a request to our language?

[2022-05-27 18:19] MarcAnt01 commented on #116
Sure, that'd be certainly welcome. You can find the instructions here https://github.com/MarcAnt01/Fluent-Screen-Recorder/blob/master/translations.md

[2022-05-27 18:20] maisondasilva commented on #116
Thanks for the receptivity, you can close.

[2022-05-27 18:27] #116 closed

[2022-05-28 09:56] PatrickDotStar commented on #109
Same issue for me. The recording only works when 1280x720 or 1920x1080 resolution is selected. Any higher resolution incl. the "Source size" option crashes the app after pressing on start recording.
Using version 2.1.3 from the app store. Monitor is an LG ultrawide with native 3440x1440 resolution. Windows 11 21H2

[2022-05-28 10:15] MarcAnt01 commented on #109
Thanks for letting me know, unfortunately I don't have a monitor with so-high resolution to test this, could you tell me your laptop or motherboard (if it's a tower pc) to debug the issue?

[2022-05-28 10:31] PatrickDotStar commented on #109
Sure. Asus Rog Strix Z690-A D4, i9-12900K, Desktop (custom build)

[2022-07-09 03:28] Jaiganeshkumaran opened #121 "Make app remember compact overlay state from previous instance"
Instead of having an option in app settings to always launch app in compact overlay mode, make it so that it launches in compact overlay automatically if it was like that in previous instance.

[2022-08-21 11:35] MarcAnt01 commented on #110
Hello, sorry, but I forgot to send you the test version. Anyway, I've fixed some crashes recently and I would happy to reach out to you somehow, do you have any contact information Telegram/Discord/Twitter where we can talk?

[2022-08-24 09:14] sksb2180 commented on #110
Hi friend, I'm sorry but closing this issue as i got used to of using obs to record stuff. Thanks a lot for your work 😃

[2022-08-24 09:14] #110 closed

[2022-08-24 09:15] MarcAnt01 commented on #110
@sksb2180 understood, if you're still interested, there's a beta version being tested that fixes most of the crashes

[2022-08-24 09:31] sksb2180 commented on #110
Thanks a lot 😊, I appreciate your support.

[2022-08-24 09:37] MarcAnt01 commented on #110
You're welcome, if you want to try the beta version. Tell me a way to reach out to you (e.g. mail/Telegram) and I'll add you to the beta version, since it's not open to everyone for the moment, but I got reports of most of the crashes fixed

[2022-08-30 12:11] MarcAnt01 commented on #115
Hey, after some investigations the only way to have fast saving would be to have internal audio being saved to a file in real time, but this is not possible without rewriting the whole app in a new programming language, which I don't plan. I'm sorry but there's no way to work this around, if you need fast saving the only way is to disable internal audio

[2022-08-30 12:11] #115 closed

[2022-08-30 12:12] MarcAnt01 commented on #109
@PatrickDotStar is there any way to reach out to you? There's a test build that should fix it

[2022-08-30 13:11] jonshipman commented on #115
Thanks for looking into it. I may try for a PR then if I manage to get some free time.

[2022-08-30 13:25] MarcAnt01 commented on #111
Is this still a thing for you?

[2022-08-30 14:01] steam3d commented on #111
I can't test now. The Windows API does not support external GPU, so the record screen does not work
![image](https://user-images.githubusercontent.com/30986874/187457014-ab83c9b0-384e-4804-8668-36e9898e3a69.png)

[2022-08-31 19:45] PatrickDotStar commented on #109
@MarcAnt01 Can you not provide it here on GitHub somehow?

[2022-09-01 08:58] MarcAnt01 commented on #109
@PatrickDotStar test builds are provided through the Microsoft Store only to a limited number of testers, anyway I need your e-mail connected to the Microsoft Store. I doubt you want to leak it here, that's why I am asking you a way to contatct you...

[2022-09-01 10:37] PatrickDotStar commented on #109
@MarcAnt01 Ah OK I understand. I followed you on Twitter (same profile pic) so you can contact me there :)

[2022-10-03 13:42] deyonlk opened #139 "want to add"
i started the screen recording with fluent screen Recorder but no option to the pause recording

[2022-10-04 10:39] MarcAnt01 commented on #139
Hello, thanks for your feature request. There's already another issue asking to implement this feature

[2022-10-04 10:39] MarcAnt01 commented on #139
Duplicate of https://github.com/MarcAnt01/Fluent-Screen-Recorder/issues/36

[2022-10-04 10:39] #139 closed